
#aliases. MAKE TERMINAL BETTER
alias cd..='cd ../'                         # Go back 1 directory level (for fast typers)
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'
alias f='open -a Finder ./'
alias myip='ipconfig getifaddr en0'
alias c='clear'
alias weather='curl http://wttr.in/'
alias xcode='open -a xcode'
alias python='python3'
alias pip="pip3"
alias pcore='sysctl hw.physicalcpu'
alias lcore='sysctl hw.logicalcpu'
alias kernel='uname -sr'
alias numFiles='echo $(ls -1 | wc -l)'      # numFiles:     Count of non-hidden files in current dir
alias 'start docker'='open --background -a Docker'
